@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: Manrope;
  src: url("../src/assets/fonts/Manrope-Regular.ttf");
}

:root {
  /* COLOR */
  --accent-color: #3470ff;
  --dark-blue: #0b44cd;
  --dark-text: #121417;
  --light-text: rgba(18, 20, 23, 0.5);
  --light-background: #f7f7fb;
}

body {
  margin: 0;
  font-family: Manrope;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
